SECRET_KEY =my-secret-key


GITHUB_AIBOT_APP_NAME=tosty
GITHUB_AIBOT_APP_ID=toasty-github-app-id
GITHUB_AIBOT_PRIVATE_KEY_B64=---github-b64-key---
GITHUB_AIBOT_WEBHOOK_SECRET=github-webhook-secret

GEMINI_API_KEY =my-gemini-api-key

POSTGRES_USER=your_username
POSTGRES_DB=your_database_name
POSTGRES_PASSWORD=your_secure_password
POSTGRES_PORT=5432
PORT=8000
